@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
$colors: (
    'red' : hsl(0, 78%, 62%),
    'cyan' : hsl(180, 62%, 55%),
    'orange' : hsl(34, 97%, 64%),
    'blue' : hsl(212, 86%, 64%),
    'very-dark-blue' : hsl(234, 12%, 34%),
    'grayish-blue' : hsl(229, 6%, 66%),
    'very-light-gray' : hsl(0, 0%, 98%),
);
$typography: (
    'font-size' : 15px,
    'font-family' : 'Poppins',
)