@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*::after,
*::before {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 200;
    margin: 0;
    padding: 0;
}
$colors: (
    'red' : hsl(0, 78%, 62%),
    'cyan' : hsl(180, 62%, 55%),
    'orange' : hsl(34, 97%, 64%),
    'blue' : hsl(212, 86%, 64%),
    'very-dark-blue' : hsl(234, 12%, 34%),
    'grayish-blue' : hsl(229, 6%, 66%),
    'very-light-gray' : hsl(0, 0%, 98%),
);
$typography: (
    'font-size' : 15px,
    'font-family' : 'Poppins',
);

@mixin medium {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin semi-medium {
    @media screen and (min-width: 940px) and (max-width: 1440px) {
        @content;
    }
}
@mixin large {
    @media screen and (min-width: 1440px) {
        @content;
    }
}